//scss 变量，此文件因为在main.js文件里全局引入，故其他页面都可以使用此文件变量

//字体颜色
$font-ccc:#ccc;							//灰色
$font-666:#666;

//背景颜色
$bg-f60:#f60;

//字体大小
$font-12:.24rem;					
$font-14:.28rem;
$font-20:.4rem;
$font-16:16px;

//间距
$lh24:.48rem;

//边距
$mt2:.2rem